@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
/* CSS Document */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{scroll-behavior: smooth;}

html {
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 425px) {
.herocontainer {
    height: 95vh;
    background: url(../images/blackportrait.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom -15px;
    background-size: 50vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10.15625%;
    padding-right: 10.15625%;
}
.tagline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 6vw;
    text-align: center;
    padding-top: 0px;
}
.category {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 500;
}
.category:hover {
    color: #1BA9CF;
    transition: 200ms ease-in-out;
}
	
	.linkcontainer{
		flex-direction: column;
	}
}

@media only screen and (min-width:424px) and (max-width:769px) {
.herocontainer {
    height: 95vh;
    background: url(../images/blackportrait.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom -15px;
    background-size: 50vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10.15625%;
    padding-right: 10.15625%;
}
.tagline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 6vw;
    text-align: center;
    padding-top: 15%;
}
.category {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 500;
}
.category:hover {
    color: #1BA9CF;
    transition: 200ms ease-in-out;
}
	.linkcontainer{
		flex-direction: column;
	}
}

@media only screen and (min-width: 768px) {
.herocontainer {
    height: 95vh;
    background: url(../images/blackportrait.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right 10% bottom -15px;
    background-size: 60vh auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10.15625%;
    padding-right: 10.15625%;
}
.tagline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 4vw;
    text-align: left;
    padding-top: 0px;
}
.category {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 500;
}
.category:hover {
    color: #0077FF;
    transition: 200ms ease-in-out;
}
}
    
body::-webkit-scrollbar {
    width: 0.25em;
    background: black;
    
}
 
body::-webkit-scrollbar-track {
    /*Temp*/
    
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom left,#6f27b5 -33%,#5c6bd0);
}

.maincontainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {font-family: 'Quicksand', sans-serif;}
    
.socialcont{display: flex;flex-direction: column;justify-content: space-between;align-items: center;}
    
.socialicons{color: white;}
    
.socialicons a {margin-left: 5px; margin-right: 5px;color: white;}